
html, body {
  overflow-x: hidden;
}


@media (max-width: 480px) {
  button {
    padding-left: 0.9rem !important;
    padding-right: 0.9rem !important;
  }
}


img, iframe {
  max-width: 100%;
  height: auto;
}
